{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Historique de la cuve</h1>

    <div class="row">
        <div class="col-xs-12">
            <form method="get" class="form-horizontal">
                <label>
                    De
                    {{ form_widget(form.from) }}
                </label>
                <label>
                    A
                    {{ form_widget(form.to) }}
                </label>
                <label>
                    Pas de temps
                    {{ form_widget(form.step) }}
                </label>
                <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </form>
        </div>
    </div>

    <div id="chartL" style="width: 100%; height: 500px"></div>
    <div id="chartT" style="width: 100%; height: 500px"></div>
    <div id="chartH" style="width: 100%; height: 500px"></div>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Liters (L)</th>
            <th>Temperature (°C)</th>
            <th>Humidity (%)</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.recordedAt|date('d/m/Y') }}</td>
                <td>{{ record.recordedAt|date('H\\hi') }}</td>
                <td>{{ record.nbLiters }}</td>
                <td>{{ record.temperature }}</td>
                <td>{{ record.humidity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            var options = {
                //title: 'Quv Performance',
                //curveType: 'function',
                legend: { position: 'bottom' }
            };


            var dataL = new google.visualization.DataTable();
            dataL.addColumn({% if search.step == 'minute' or search.step == 'hour' %}'datetime'{% else %}'date'{% endif %}, '{{ search.step }}');
            dataL.addColumn('number', 'Avg liters (L)');
            dataL.addRows([
                {% for row in plotRecords %}
                [new Date('{{ row.step }}'), {{ row.avgLiters|round }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            ]);
            // Instantiate and draw our chart, passing in some options.
            var chartL = new google.visualization.LineChart(document.getElementById('chartL'));
            chartL.draw(dataL, options);

            var dataT = new google.visualization.DataTable();
            dataT.addColumn({% if search.step == 'minute' or search.step == 'hour' %}'datetime'{% else %}'date'{% endif %}, '{{ search.step }}');
            dataT.addColumn('number', 'Avg temperature (°C)');
            dataT.addRows([
                {% for row in plotRecords %}
                [new Date('{{ row.step }}'), {{ row.avgTemperature|round }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            ]);
            // Instantiate and draw our chart, passing in some options.
            var chartT = new google.visualization.LineChart(document.getElementById('chartT'));
            chartT.draw(dataT, options);

            var dataH = new google.visualization.DataTable();
            dataH.addColumn({% if search.step == 'minute' or search.step == 'hour' %}'datetime'{% else %}'date'{% endif %}, '{{ search.step }}');
            dataH.addColumn('number', 'Avg humidity (%)');
            dataH.addRows([
                {% for row in plotRecords %}
                [new Date('{{ row.step }}'), {{ row.avgHumidity|round }}]{% if not loop.last %},{% endif %}
                {% endfor %}
            ]);
            // Instantiate and draw our chart, passing in some options.
            var chartH = new google.visualization.LineChart(document.getElementById('chartH'));
            chartH.draw(dataH, options);
        }
    </script>
{% endblock %}
